<mat-grid-list cols="3" rowHeight="600px" gutterSize="50px">
  <mat-grid-tile *ngFor="let film of films">

    <mat-card class="example-card">

      <mat-card-header>
        <mat-card-title>{{film.name}}</mat-card-title>
      </mat-card-header>

      <div mat-card-image class="image-wrapper">
          <img  [src]="film.imgUrl" [alt]="film.name">
      </div>

      <mat-card-content>
        <details-inner>
          {{film.description}}
        </details-inner>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button>Открыть</button>
        <button mat-button>Редактировать</button>
      </mat-card-actions>

    </mat-card>

  </mat-grid-tile>
</mat-grid-list>
